h1,
h2 {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 600;
    font-size: 2.25rem;
}

p {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
}

button {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
}

.button-1 {
    background-color: white;
    border-radius: 38px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.discover-container {
    margin-left: 10vw;
    margin-right: 10vw;
}

.discover-content-images {
    height: 200px;
}

.discover-content-text {
    padding: 10px;
}

.video-image-container {
    padding: 15px;
}

.video-image {
    width: 70vw;
    position: relative;
}

.simplifying-box {
    background-color: #B9FD4C;
    display: inline-flex;
    border: 1px solid black;
    border-radius: 8px;
    align-items: center;
    position: relative;
    /* bottom: 210px; */
    bottom: 100%;
    left: 60%;
    /* left: 150px; */
    padding-right: 50px;
}

.pause-image-container {
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
}

.pause-image {
    width: 15px;
}

.simp {
    margin: 8px 0px;
    font-size: .6rem;
}

.advanced-box {
    display: inline-flex;
    background-color: #75bcff;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    position: absolute;
    /* bottom: 130px;
    right: 30px; */
    bottom: 25%;
    right: 50%;
}

.graph-image {
    width: 30px;
    margin: 0px 10px;
}

.advanced-text {
    font-size: .5rem;
    margin: 8px 0;
}

.strong {
    font-size: larger;
    font-weight: bolder;
}

.exclaim-image {
    width: 12px;
    margin: 7px
}

